*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	background: url(../img/云大大门.png);
	background-repeat: no-repeat;
	background-size: cover;
  	-webkit-background-size: cover;
 	-o-background-size: cover;
}

.Index-Header{
    width:150px;
    margin: 20px auto;
    text-align: center;
    background: silver;
    height:auto;
    text-decoration:none;
}
.Search{
    width:1000px;
    margin: 20px auto;
}
.Search form{
    margin:0px auto;
    display: block;
    width:600px;
}
.Search form input{
    width:110px;
    height:30px;
    border: 1px solid #CCCCCC;
}
.Search form .Find{
    width:150px;
}
.Search form input .Startyear{
    margin-right: 30px;
}
.Search form input .Endyear{
    margin-left: 30px;
}
.Count{
    width:800px;
    margin: 20px auto;
    display: none;
    height: 50px;
}
.Count p{
    float: left;
}
.Result{
    width:800px;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    margin: 40px auto;
    background-color: #ffffff;
  	border: 1px solid black;
  	filter:alpha(opacity=60);
  	opacity:0.6;
}
.Result .Article{
    width:800px;
    height:50px;
    line-height: 50px;
    margin-left: 30px;
}