*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	background-repeat: no-repeat;
	background-size: cover;
  	-webkit-background-size: cover;
 	-o-background-size: cover;
}

.Search{
    width:400px;
    margin: 100px auto;
    border:1px dashed #CCCCCC;
}
.Search form{
    margin:0px auto;
    line-height: 2em;
    display: block;
    width:700px;
}
.Search form input{
    width:100px;
    height:30px;
    border: 1px solid #CCCCCC;
    margin: 20px 30px 20px 30px;
}
.Search form select{
	line-height: 2em;
	height: 30px;
	width:120px;
	margin-bottom:20px ;
}
.Search form .category{
	border-style: solid;
	border-width: 1px;
}
.Search form .Startyear{
	border-style: solid;
	border-width: 1px;
}
.Search form .Endyear{
	border-style: solid;
	border-width: 1px;
}
.Search form .level{
	border-style: solid;
	border-width: 1px;
}
.Search form .author{
	margin-left: 0px;
	width: 120px;
	margin-bottom: 0px;
}
.Search form .Find,.Search form .Download{
    width:100px;
    height: 40px;
    margin-left: 55px;
    
    text-decoration: none;
    background: #2f435e;
    color: #f2f2f2;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    
}
.Count{
    width:400px;
    margin: 20px auto;
    display: none;
    min-height: 400px;
    height: auto;
    border:1px dashed #CCCCCC;
    text-align: center;
}